<h1> Total: £<%= sprintf("%.2f", @total) %></h1>

<table class="transactions">
  <tr>
    <th>Merchant</th>
    <th>Categories</th>
    <th>Amount</th>
    <th>Transaction Date</th>
  </tr>
<% for transaction in @transactions %>
  <tr>
    <td><a href="/transactions/<%= transaction.id%>"><%=transaction.merchant.name %></a></td>
    <td><%=transaction.category.name %></td>
    <td><%=transaction.amount%></td>
    <td><%=transaction.transaction_date%></td>
  </tr>
<% end %>
<tr>
  <td>Total Amount</td>
  <td></td>
    <td><%= Transaction.total_amount %></td>
</tr>

<form method="post" action="/transactions">
  <label for="transaction_amount">Transaction Amount:</label>
  <input id="transaction_amount" required type="number" name="amount" />

  <label for="transaction_date">Transaction Date:</label>
  <input id="transaction_date" type="text" name="transaction_date" />

  <label>
    Transaction Merchant:
    <select required name="merchant_id">
      <% for merchant in @merchants %>
      <option value="<%= merchant.id %>"><%= merchant.name %></option>
      <% end %>
    </select>
  </label>

  <label>
    Transaction Category:
    <select required name="category_id">
      <% for category in @categories %>
      <option value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    </select>
  </label>


  <input class="myButton" type='submit' value="Create Transaction"/>
</form>

</table>

<form action="/transactions/filter-by-merchant" method="post">
    <label>
    Filter by merchant:
      <select name="merchant_id" required>

        <% for merchant in @merchants %>
        <option value="<%= merchant.id %>"><%= merchant.name.capitalize %></option>
        <% end %>
      </select>
    </label>

    <input type='submit' value="Filter">
  </form>

<!-- <p>
  <a class="myButton" href="/transactions">Clear filter</a>
</p> -->
