<% for transaction in @transactions %>
  <p><a href="/transactions/<%= transaction.id%>"><%=transaction.amount %></a></p>
  <p><a href="/transactions/<%= transaction.id%>"><%=transaction.merchant.name %></a></p>
  <p><a href="/transactions/<%= transaction.id%>"><%=transaction.category.name %></a></p>
  <hr />
<% end %>
